@charset "UTF-8";
p, a, h1, h2, h3, h4, dl, dd, dt, div {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif !important;
    font-weight: normal;
}

blockquote {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 16px;
}

blockquote li {
    white-space: pre-wrap;
}

blockquote dl, blockquote dd, blockquote dt {
    overflow: visible;
}

.a dt {
    color: #8A6D3B;
    font-weight: normal;
}

blockquote.a {
    background-color: #FAF8F0;
    border-color: #FAEBCC;
}

blockquote.a h4 {
    color: #8A6D3B;
}

blockquote.b {
    background-color: #FDF7F7;
    border-color: #EED3D7;
}

blockquote.b h4 {
    color: #B94A48;
}

blockquote.c {
    background-color: #F4F8FA;
    border-color: #BCE8F1;
}

blockquote.c h4 {
    color: #34789A;
}

blockquote.d {
    background-color: #F0FFF0;
    border-color: #CDEB8B;
}

ul li {
    list-style-type: none;
}

blockquote.zuoZhe {
    background-color: rgba(0, 178, 255, 0.15);
    border-color: rgba(0, 178, 255, 0.5);
}

.footer {
    height: 122px;
}

footer {
    position: fixed;
    bottom: 0px;
		width: 100%;
}

.realFooter{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: rgb(0, 0, 0);
	width: 100%;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: rgba(255, 255, 255, 0.25);
}
